In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                                          title  year
0                                  Kasen chitai  1961
1                                           Ser  2010
2  Devil Come to Hell and Stay Where You Belong  2008
3                      Things You Don't Tell...  2006
4                                        Regret  2015

In [9]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [55]:
titles

                                               title  year
0                                       Kasen chitai  1961
1                                                Ser  2010
2       Devil Come to Hell and Stay Where You Belong  2008
3                           Things You Don't Tell...  2006
4                                             Regret  2015
5                              Squadra antigangsters  1979
6                                    Hindi ako ander  1996
7                                      The Dead Site  2017
8                                    The Scarlet Car  1923
9                               Eto my ne prokhodili  1976
10                         Mil gritos tiene la noche  1982
11                                         Mick Fink  2015
12                                    Dead End (VII)  2014
13                                       Sexo Animal  1983
14                                            Bai yi  2016
15                                           El faro  1998
16                                        Harekosode  1961
17                                   Blurred Horizon  2017
18                             Abbasso la ricchezza!  1946
19                              Queen of the Amazons  1947
20                             Lady Windermere's Fan  1916
21                                Lieah ya banafsieg  1993
22                                  Missing the Tide  1919
23                                         Tropicana  1957
24                                   Franky, Frankly  2011
25                         Walking with Dinosaurs 3D  2013
26                                    Asalto al cine  2011
27                                           Alibhai  2007
28                                   August Week End  1936
29                                           Belyaev  2009
...                                              ...   ...
233140                              Almost a Divorce  1931
233141                                 Fuera de foco  2015
233142                       Aysecik - Cimcime Hanim  1964
233143                        Il coraggio di credere  2017
233144                                Jomfru Trofast  1921
233145                                  Teuk-soo-bon  2011
233146                                    Black Girl  1972
233147                      Grip: A Criminal's Story  2006
233148                                Handmade Angel  2010
233149                                     Challenge  1984
233150                  Un nuage dans un verre d'eau  2012
233151                         Sentimental Education  1998
233152                          Kochankowie z Marony  2005
233153              Danger Zone II: Reaper's Revenge  1989
233154                            The Great Gay Road  1931
233155                     Nous irons vivre ailleurs  2013
233156                                 Nennen saisai  2009
233157                           Manor of Redemption  2004
233158                    Skunk-Ape Hunters in Texas  2011
233159                                 Diary of Lust  2000
233160                             The Local Bad Man  1932
233161                          Silence... on tourne  1976
233162                                Zenzen daijobu  2008
233163                                  The Naulahka  1918
233164                          Hissatsu shimatsunin  1997
233165                          Uigi ilbal Yong-pali  1971
233166                                     Cake (II)  2014
233167                       Shaabash! You Can Do It  2009
233168                                     The Gig 3  2009
233169                                       Blurred  2002

[233170 rows x 2 columns]

In [56]:
len(titles)

233170

### What are the earliest two films listed in the titles dataframe?

In [57]:
t_sorted = titles.sort_values('year')

In [58]:
t_sorted.head(2)

                    title  year
13090          Miss Jerry  1894
73157  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [60]:
t_hamlet = titles[titles['title'] == 'Hamlet']

In [61]:
len(t_hamlet)

20

### How many movies are titled "North by Northwest"?

In [64]:
t_nw = titles[titles['title'] == 'North by Northwest']

In [65]:
len(t_nw)

1

### When was the first movie titled "Hamlet" made?

In [68]:
t_hamlet_sorted = t_hamlet.sort_values('year')

In [71]:
print(t_hamlet_sorted.iloc[0])

title    Hamlet
year       1910
Name: 114254, dtype: object

In [72]:
t_hamlet_sorted.head(1)

         title  year
114254  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [73]:
t_ti = titles[titles['title'] == 'Treasure Island']

In [74]:
t_ti.sort_values('year')

                  title  year
116863  Treasure Island  1918
88356   Treasure Island  1920
47504   Treasure Island  1934
195126  Treasure Island  1950
199164  Treasure Island  1972
60822   Treasure Island  1973
189956  Treasure Island  1985
230227  Treasure Island  1999

### How many movies were made in the year 1950?

In [75]:
t_fifty = titles[titles['year'] == 1950]

In [76]:
len(t_fifty)

1103

### How many movies were made in the year 1960?

In [78]:
len(titles[titles['year'] == 1960])

1513

### How many movies were made from 1950 through 1959?

In [79]:
t_c1 = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

In [80]:
len(t_c1)

12806

In [83]:
t_c1.sort_values('year').tail(20)

                                 title  year
191474       O Thymios takane thalassa  1959
191460                Lupi nell'abisso  1959
191436     Attack of the Giant Leeches  1959
80354               Hey Boy! Hey Girl!  1959
190661                 Der Mustergatte  1959
80408                    Marie-Octobre  1959
119199                    La cucaracha  1959
80470              Nra yerevakayutyune  1959
190879                         Frankie  1959
190967  Ipinagbili kami ng aming tatay  1959
191003               The Ugly Duckling  1959
119023        The Rough and the Smooth  1959
191073                 Sleeping Beauty  1959
29937         The Legend of Tom Dooley  1959
191236                    Laffing Time  1959
191277                 Garipler sokagi  1959
191305                Huang tang nu xu  1959
29764                 Valurile Dunarii  1959
115282                Chuanjin baoshan  1959
30994         O thisavros tou makariti  1959

### In what years has a movie titled "Batman" been released?

In [84]:
t_bat = titles[titles['title'] == 'Batman']

In [85]:
t_bat = t_bat.sort_values('year')

In [86]:
t_bat['year']

190766    1943
163738    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [87]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3689923,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3689924,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3689925,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3689926,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3689927,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3689928,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3689929,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3689930,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3689931,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3689932,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3689933,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3689934,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3689935,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3689936,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3689937,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3689938,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3689939,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3689940,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3689941,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3689942,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3689943,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3689944,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3689945,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3689946,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3689947,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3689948,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3689949,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3689950,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3689951,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3689952,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [88]:
c_incep = cast[cast['title'] == 'Inception']

In [89]:
len(c_incep)

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [95]:
len(c_incep[c_incep['n'].isnull()])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [96]:
len(c_incep[c_incep['n'].notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [97]:
c_north = cast[cast['title'] == 'North by Northwest']

In [98]:
c_north = c_north[c_north['n'].notnull()]

In [99]:
c_north = c_north.sort_values('n')

In [100]:
c_north

,title,year,name,type,character,n
857679,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3434077,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1433784,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3089105,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
351064,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2985422,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1668146,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1254617,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2407597,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1782279,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
655249,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2258593,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
457393,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1484297,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
203013,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1362439,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [101]:
cast[cast['title'] == 'Sleuth']

,title,year,name,type,character,n
255807,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
321493,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
321494,Sleuth,2007,Michael Caine,actor,Andrew,1.0
368025,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
368026,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
1272676,Sleuth,2007,Jude Law,actor,Milo,2.0
1425445,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0
1441926,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
1678073,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
1776903,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3.0
2675136,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
2675137,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
3292902,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

In [102]:
c_sl = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]

In [103]:
c_sl = c_sl.sort_values('n')

In [104]:
c_sl

,title,year,name,type,character,n
1678073,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
321493,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
368025,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1441926,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2675137,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1425445,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [105]:
c_sl_07 = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]

In [106]:
c_sl_07 = c_sl_07.sort_values('n')

In [107]:
c_sl_07

          title  year                 name     type          character    n
321494   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1272676  Sleuth  2007             Jude Law    actor               Milo  2.0
1776903  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
255807   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
368026   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2675136  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3292902  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [110]:
c_ham = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

In [111]:
len(c_ham)

9

In [112]:
c_ham

          title  year                    name     type         character    n
7686     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
451642   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
546331   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1117552  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2150245  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2337424  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2617600  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
2998469  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3278325  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [113]:
c_ham_br = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]

In [114]:
len(c_ham_br)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [149]:
len(cast[(cast['character'] == 'Hamlet')])

95

### How many people have played an "Ophelia"?

In [154]:
len(cast[cast['character'] == 'Ophelia']['name'].unique())

110

### How many people have played a role called "The Dude"?

In [121]:
len(cast[cast['character'] == 'The Dude'])

18

### How many people have played a role called "The Stranger"?

In [122]:
len(cast[cast['character'] == 'The Stranger'])

209

### How many roles has Sidney Poitier played throughout his career?

In [123]:
len(cast[cast['name'] == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [124]:
len(cast[cast['name'] == 'Judi Dench'])

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [132]:
c_cg = cast[(cast['name'] == 'Cary Grant') & (cast['year'] >= 1940) & (cast['year'] <= 1949) & (cast['n'] == 2)]

In [133]:
c_cg = c_cg.sort_values('year')

In [134]:
c_cg

                   title  year        name   type    character    n
857676  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
857686    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [136]:
c_cg = cast[(cast['name'] == 'Cary Grant') & (cast['year'] >= 1940) & (cast['year'] <= 1949) & (cast['n'] == 1)]

In [137]:
c_cg = c_cg.sort_values('year')

In [138]:
c_cg

,title,year,name,type,character,n
857701,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
857658,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
857703,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
857691,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
857705,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
857682,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
857649,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
857674,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
857675,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
857683,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
857641,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
857678,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
857677,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
857680,Notorious,1946,Cary Grant,actor,Devlin,1.0
857697,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
857698,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
857673,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
857653,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
857662,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [140]:
len(cast[((cast['year'] // 10 * 10) == 1950) & (cast['type'] == 'actor')])

156474

### How many roles were avilable for actresses in the 1950s?

In [141]:
len(cast[((cast['year'] // 10 * 10) == 1950) & (cast['type'] == 'actress')])

56903

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [144]:
len(cast[(cast['year'] <= 1980) & (cast['n'] == 1)])

64531

### How many non-leading roles were available through from the beginning of film history through 1980?

In [145]:
len(cast[(cast['year'] <= 1980) & (cast['n'] != 1)])

1105390

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [146]:
len(cast[(cast['year'] <= 1980) & (cast['n'].isnull())])

442732

In [12]:
titles

                                               title  year
0                                       Kasen chitai  1961
1                                                Ser  2010
2       Devil Come to Hell and Stay Where You Belong  2008
3                           Things You Don't Tell...  2006
4                                             Regret  2015
5                              Squadra antigangsters  1979
6                                    Hindi ako ander  1996
7                                      The Dead Site  2017
8                                    The Scarlet Car  1923
9                               Eto my ne prokhodili  1976
10                         Mil gritos tiene la noche  1982
11                                         Mick Fink  2015
12                                    Dead End (VII)  2014
13                                       Sexo Animal  1983
14                                            Bai yi  2016
15                                           El faro  1998
16                                        Harekosode  1961
17                                   Blurred Horizon  2017
18                             Abbasso la ricchezza!  1946
19                              Queen of the Amazons  1947
20                             Lady Windermere's Fan  1916
21                                Lieah ya banafsieg  1993
22                                  Missing the Tide  1919
23                                         Tropicana  1957
24                                   Franky, Frankly  2011
25                         Walking with Dinosaurs 3D  2013
26                                    Asalto al cine  2011
27                                           Alibhai  2007
28                                   August Week End  1936
29                                           Belyaev  2009
...                                              ...   ...
233140                              Almost a Divorce  1931
233141                                 Fuera de foco  2015
233142                       Aysecik - Cimcime Hanim  1964
233143                        Il coraggio di credere  2017
233144                                Jomfru Trofast  1921
233145                                  Teuk-soo-bon  2011
233146                                    Black Girl  1972
233147                      Grip: A Criminal's Story  2006
233148                                Handmade Angel  2010
233149                                     Challenge  1984
233150                  Un nuage dans un verre d'eau  2012
233151                         Sentimental Education  1998
233152                          Kochankowie z Marony  2005
233153              Danger Zone II: Reaper's Revenge  1989
233154                            The Great Gay Road  1931
233155                     Nous irons vivre ailleurs  2013
233156                                 Nennen saisai  2009
233157                           Manor of Redemption  2004
233158                    Skunk-Ape Hunters in Texas  2011
233159                                 Diary of Lust  2000
233160                             The Local Bad Man  1932
233161                          Silence... on tourne  1976
233162                                Zenzen daijobu  2008
233163                                  The Naulahka  1918
233164                          Hissatsu shimatsunin  1997
233165                          Uigi ilbal Yong-pali  1971
233166                                     Cake (II)  2014
233167                       Shaabash! You Can Do It  2009
233168                                     The Gig 3  2009
233169                                       Blurred  2002

[233170 rows x 2 columns]

In [13]:
len(titles)

233170

In [20]:
titles.head()

                                          title  year
0                                  Kasen chitai  1961
1                                           Ser  2010
2  Devil Come to Hell and Stay Where You Belong  2008
3                      Things You Don't Tell...  2006
4                                        Regret  2015

In [21]:
titles.tail(10)

                          title  year
233160        The Local Bad Man  1932
233161     Silence... on tourne  1976
233162           Zenzen daijobu  2008
233163             The Naulahka  1918
233164     Hissatsu shimatsunin  1997
233165     Uigi ilbal Yong-pali  1971
233166                Cake (II)  2014
233167  Shaabash! You Can Do It  2009
233168                The Gig 3  2009
233169                  Blurred  2002

In [22]:
h = titles.head(8)

In [23]:
h

                                          title  year
0                                  Kasen chitai  1961
1                                           Ser  2010
2  Devil Come to Hell and Stay Where You Belong  2008
3                      Things You Don't Tell...  2006
4                                        Regret  2015
5                         Squadra antigangsters  1979
6                               Hindi ako ander  1996
7                                 The Dead Site  2017

In [24]:
len(h)

8

In [25]:
h.head()

                                          title  year
0                                  Kasen chitai  1961
1                                           Ser  2010
2  Devil Come to Hell and Stay Where You Belong  2008
3                      Things You Don't Tell...  2006
4                                        Regret  2015

In [33]:
h['year'] // 10 * 10

0    1960
1    2010
2    2000
3    2000
4    2010
5    1970
6    1990
7    2010
Name: year, dtype: int64

In [34]:
h.year

0    1961
1    2010
2    2008
3    2006
4    2015
5    1979
6    1996
7    2017
Name: year, dtype: int64

In [37]:
h['year'] > 1985

0    False
1     True
2     True
3     True
4     True
5    False
6     True
7     True
Name: year, dtype: bool

In [40]:
h[(h['year'] < 1980) | (h['year'] >= 1990)]

                                          title  year
0                                  Kasen chitai  1961
1                                           Ser  2010
2  Devil Come to Hell and Stay Where You Belong  2008
3                      Things You Don't Tell...  2006
4                                        Regret  2015
5                         Squadra antigangsters  1979
6                               Hindi ako ander  1996
7                                 The Dead Site  2017

In [43]:
t = titles
t[t.title == 'Macbeth'].sort('year')

C:\Users\richa\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

          title  year
93093   Macbeth  1913
99729   Macbeth  1916
23897   Macbeth  1948
13598   Macbeth  1987
43544   Macbeth  1997
55359   Macbeth  1998
43163   Macbeth  2003
116248  Macbeth  2004
190134  Macbeth  2006
144262  Macbeth  2009
199573  Macbeth  2012
88535   Macbeth  2013
217100  Macbeth  2014
84348   Macbeth  2015
57969   Macbeth  2017

In [47]:
t[t['title'] == 'Macbeth'].sort_values('year').tail()

          title  year
199573  Macbeth  2012
88535   Macbeth  2013
217100  Macbeth  2014
84348   Macbeth  2015
57969   Macbeth  2017

In [49]:
t.year.sort_values()

13090     1894
73157     1898
118608    1899
163206    1900
101873    1900
65223     1900
79586     1900
118434    1900
222763    1903
183682    1905
84377     1905
57370     1906
87902     1906
185269    1906
149930    1906
160476    1906
38575     1907
222671    1907
8054      1907
131942    1907
114662    1907
127576    1908
217845    1908
26545     1908
4231      1908
211960    1908
24978     1908
35390     1909
162820    1909
90729     1909
          ...
148114    2020
170273    2020
99549     2020
132341    2020
132615    2020
128533    2020
57167     2020
155152    2020
207690    2020
223100    2020
40542     2020
60677     2020
81398     2020
80076     2020
15091     2020
106955    2020
93930     2021
202244    2021
28699     2021
41356     2021
167326    2021
33879     2022
99006     2022
156592    2022
157719    2022
230162    2022
4483      2022
144941    2023
114844    2024
141780    2115
Name: year, dtype: int64

In [50]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3689923,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3689924,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3689925,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3689926,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3689927,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3689928,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3689929,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3689930,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3689931,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3689932,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3689933,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3689934,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3689935,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3689936,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3689937,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3689938,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3689939,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3689940,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3689941,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3689942,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3689943,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3689944,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3689945,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3689946,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3689947,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3689948,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3689949,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3689950,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3689951,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3689952,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [54]:
h = cast.head()
h = h[h.n.isnull()]
h

                  title  year     name   type                character   n
3  Secret in Their Eyes  2015  $hutter  actor          2002 Dodger Fan NaN
4            Steve Jobs  2015  $hutter  actor  1988 Opera House Patron NaN